body {
    background-color: #f8f8f8;
   }
   
   .menu {
       background-color: #005999;
   }
   body {
       margin: 0;
       font-family: Arial, sans-serif;
   }
   
   header {
       background-color: #005999;
       color: white;
       padding: 15px 0;
       position: fixed;
       top: 0;
       width: 100%;
   }
   
   .menu {
       list-style: none;
       margin: 0;
       padding: 0;
       display: flex;
       justify-content: right;
       gap: 20px;
   }
   
   .menu li {
       display: inline;
   }
   
   .menu a {
       color: white;
       text-decoration: none;
       font-weight: bold;
       padding: 10px 15px;
   }
   
   .menu a:hover {
       background-color: #0077b6;
       padding: 26.45px;
   }
   
   main {
       margin-top: 60px; /* Compensa o espaço do menu fixo */
       padding: 26.45px;
   }
   